/**
* STRUCTURE
**/
* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", arial, sans-serif;
  font-weight: normal;
  line-height: 1.6em;
  font-size: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #ededed;
  color: #323232;
}

.site {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.site-header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2000;
  width: 320px;
  margin: 0;
  padding: 40px;
  background-color: #ededed;
}

.site-main {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 0 0 320px;
  padding: 40px 40px 40px 0;
  /*   background-color: #fff; */
}

.site-title {
  margin: .5rem 0;
  font-family: "Alex Brush", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 36px;
  text-align: center;
}

.site-description {
  margin: 0;
  font-size: .825rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
  text-align: center;
}

.site-header hr {
  width: 50%;
  margin: .2rem auto;
}

.site-languages {
  display: block;
  margin: 0;
  font-size: .825rem;
  text-align: center;
  text-transform: uppercase;
}

.site-languages a {
  text-decoration: none;
  color: #484848;
}

.site-languages a.active,
.site-languages a:hover {
  color: #c0392b;
}

.site-menu-button {
  display: none;
  text-align: center;
  margin: .5em 0;
}


/**
* TYPOGRAPHY
**/

h1 {
  font-family: "Alex Brush", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 48px;
}

a {
  color: #c0392b;
  text-decoration: none;
}

.site-main a:hover {
  border-bottom: #c0392b 1px dotted;
}


/**
* NAVIGATION
**/

.grid-filter {
  font-size: 1rem;
  margin: 4rem 0 2rem 0;
  text-align: center;
}

.grid-filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.grid-filter li {
  display: list-item;
}

.nav-main {
  font-size: .825rem;
  text-align: center;
}

.nav-main ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-main li {
  display: list-item;
}

.grid-filter a,
.nav-main a {
  color: #484848;
  text-decoration: none;
}

.nav-main a:hover,
.nav-main li.active a,
.grid-filter a:hover,
.grid-filter li.active a {
  color: #c0392b;
}

.loading::before {
  content: '';
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 0 0 320px;
  background-color: #ededed;
}

.loading::after {
  content: '';
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: calc(50% + 160px);
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  border: 8px solid #484848;
  border-bottom-color: #c0392b;
  border-radius: 50%;
  animation: animLoader 0.8s linear infinite forwards;
}

@keyframes animLoader {
  to {
    transform: rotate(360deg);
  }
}


/**
* IMAGE GRID
**/

.grid {
  position: relative;
  display: block;
  z-index: 2;
  margin: 0;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-hidden {
  position: fixed !important;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  opacity: 0;
}

.grid-sizer,
.grid-item {
  width: 32%;
}

.grid-item {
  position: relative;
  float: left;
  margin: 0 0 20px 0;
  text-align: center;
  color: #fff;
}

.grid-item--current {
  opacity: 0 !important;
}

.grid-item .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.grid-item img {
  display: block;
  z-index: 10;
  max-width: 100%;
  width: 100%;
}

.grid-item figcaption {
  position: absolute;
  z-index: 20;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3em;
  overflow: hidden;
  background-color: rgba(255, 255, 255, .6);
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  /* White Background Duration */
  transition: opacity 0.2s;
  -webkit-transition-delay: 0.3s;
  /* White Background Ease Out */
  transition-delay: 0.3s;
}

.grid-item:hover figcaption {
  opacity: 1;
  cursor: pointer;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0s;
  /* White Background Ease In */
  transition-delay: 0s;
}

.grid-item figcaption::before {
  position: absolute;
  top: 50%;
  right: 30px;
  bottom: 50%;
  left: 30px;
  border-top: 1px solid #323232;
  border-bottom: 1px solid #323232;
  content: '';
  opacity: 0;
  background-color: #000;
  -webkit-transition: all 0.3s;
  /* Border & Black Transition Duration */
  transition: all 0.3s;
  -webkit-transition-delay: 0s;
  /* Border & Black Transition Ease Out */
  transition-delay: 0s;
}

.grid-item:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  top: 30px;
  bottom: 30px;
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  /* Border & Black Transition Ease In */
  transition-delay: 0.2s;
}

.grid-item h3,
.grid-item p {
  margin: 0 0 5px;
}

.grid-item h3 {
  font-size: 1.25rem;
  font-weight: normal;
  text-transform: uppercase;
  color: #323232;
  opacity: 0;
  -webkit-transform: translate3d(0%, 50%, 0);
  transform: translate3d(0%, 50%, 0);
  -webkit-transition: opacity 0.3s, -webit-transform 0.3s;
  /* Text Duration */
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition-delay: 0s;
  /* Text Ease Out */
  transition-delay: 0s;
}

.grid-item:hover figcaption h3 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.2s;
  /* Text Ease In */
  transition-delay: 0.2s;
}

.grid-item p {
  display: none;
  font-size: .825rem;
  font-weight: 200;
  color: #484848;
}

.grid-item-2x {
  width: 64%;
}

.grid-link {
  display: block;
}

.grid-link:focus,
.grid-link:hover {
  outline: none;
}

.grid-link img {
  display: block;
  max-width: 100%;
}


/**
* PREVIEW
**/

.preview {
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 75%;
  pointer-events: none;
}

.preview::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background: #ededed;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.preview--open {
  pointer-events: auto;
}

.preview--open::before {
  opacity: 1;
}

.clone {
  position: fixed;
  z-index: 110;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-backface-visibility: hidden;
}

.original {
  position: relative;
  z-index: 120;
  display: block;
  margin: auto 0;
  object-fit: contain;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-backface-visibility: hidden;
}

.original:hover {
  cursor: pointer;
}

.preview--open .animate {
  /* open */
  -webkit-transition: -webkit-transform 0.6s, opacity 0.2s;
  transition: transform 0.6s, opacity 0.2s;
}

.animate {
  /* close */
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.description {
  color: #fff;
}

.js .description--grid {
  display: none;
}

.description--preview {
  font-size: 2em;
  font-size: 1.5em;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 140;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 25vh;
  text-align: center;
  padding: 1em 3vw;
  opacity: 0;
  -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: opacity 0.8s, transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}

.description--preview h3 {
  font-size: 1.25rem;
  font-weight: normal;
  text-transform: uppercase;
  color: #323232;
  margin: .5rem 0;
}

.description--preview p {
  font-size: .825rem;
  font-weight: 200;
  color: #afafaf;
  margin: .5rem 0;
}

.preview--open .description--preview {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}


/* Close button */
.action {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  cursor: pointer;
  vertical-align: top;
  color: #c0392b;
  border: none;
  background: none;
}

.action:hover,
.action:focus {
  color: #c0392b;
  outline: none;
}

.action--close {
  position: fixed;
  z-index: 150;
  top: 0;
  right: 0;
  padding: 1em;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: scale3d(0.6, 0.6, 1);
  transform: scale3d(0.6, 0.6, 1);
}

.preview--image-loaded .action--close,
.nav-group--open .action--close {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}


.text-hidden {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 0;
  height: 0;
  color: transparent;
}

.button {
  font-size: 0.5em;
  font-weight: bold;
  margin: 0;
  padding: 1em 2em;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2em;
  background: none;
}

.button--view {
  margin-top: 2em;
}


/**
* PAGES
**/

.page-img {
  display: block;
  max-width: 100%;
  height: 360px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/**
* MEDIA QUERIES
**/

/* Tablets Landscape & Small Computer Screens */
@media screen and (max-width: 1200px) {
  .grid-sizer,
  .grid-item {
    width: 48%;
  }
}

/* Tablets Portrait */
@media screen and (max-width: 800px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
  .grid-item .centered {
    position: relative;
    top: inherit;
    left: inherit;
    width: 100%;
    -webkit-transform: none;
    transform: none;
  }
  .grid-item figcaption {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1em 2em;
    background-color: transparent;
    -webkit-transition: none;
    transition: none;
  }
  .grid-item figcaption::before {
    display: none;
    -webkit-transition: none;
    transition: none;
  }
  .grid-item:hover figcaption::before {
    display: none;
    opacity: 0;
  }
  .grid-item figcaption h3 {
    opacity: 1;
    color: #323232;
    font-size: 1rem;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;
  }
  .grid-item figcaption h3:hover {
    color: #c0392b;
  }
  .grid-item figcaption p {
    opacity: 1;
    color: #323232;
    margin-top: 10px;
  }
  .grid-item a:hover {
    border-bottom: 0;
  }
}

/* Smartphones */
@media screen and (max-width: 640px) {
  
  .site-header {
    position: relative;
    width: 100%;
    padding: 40px 20px 0;
  }
  .site-menu-button {
    display: block;
  }
  .nav-group {
    display: none;
    position: fixed;
    z-index: 5000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ededed;
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
  }
  .nav-group--open {
    opacity: 1;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
  }

  .site-main {
    margin: 0;
    padding: 40px 20px;
  }

  .grid-item figcaption p {
    display: block;
    color: #afafaf;
  }
  .loading::before {
    padding: 0;
  }
  .loading::after {
    left: 50%;
  }

  .page-img {
    height: 280px;
  }
}

@media screen and (max-width: 400px) {
  .page-img {
    height: 30vh;
  }
}