<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{ partial "global/icons.html" . }}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  {{ partial "global/styles.html" . }}
</head>
<body class="loading">
  <div class="site">
    <header class="site-header">
      <h3 class="site-title">{{ .Site.Title }}</h3>
      <p class="site-description">{{ $.Site.Params.site_description }}</p>
      <hr />
      {{ if .IsTranslated }}
      <p class="site-languages">
        <a class="active" href="{{ .Permalink }}">{{ .Lang }}</a> | 
        {{ range .Translations }}
          <a href="{{ .Permalink }}">{{ .Lang }}</a>
        {{ end }}
      </p>
      {{ end }}
      <div class="site-menu-button">
        <button class="action action--open">
          <i class="fa fa-bars"></i>
          <span class="text-hidden">Menu</span>
        </button>
      </div>
      <div class="nav-group">
        <button class="action action--close">
          <i class="fa fa-times"></i>
          <span class="text-hidden">Close</span>
        </button>
        {{ partial "header/grid-filter.html" . }}
        {{ partial "header/nav-main.html" . }}
      </div>
    </header>
    <section class="site-main">
    {{ block "main" . }}
      
    {{ end }}
    </section>
  </div>
  {{ block "scripts" . }}{{ end }}
  {{ partial "global/analytics.html" }}
</body>
</html>