{{ define "title" }}
  {{ .Title }} - {{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <div class="page">
    {{ if isset .Params "images" }}
    <div class="page-item page-img" style="background-image: url({{ .Site.BaseURL }}{{ index .Params.images 0 }});"></div>
    {{ end }}
    <div class="page-item">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </div>
  </div>
{{ end }}

{{ define "scripts" }}
<script src="{{ .Site.BaseURL }}assets/js/imagesloaded.pkgd.min.js"></script>
<script src="{{ .Site.BaseURL }}assets/js/anime.min.js"></script>
<script src="{{ .Site.BaseURL }}assets/js/pagereveal.js"></script>
<script src="{{ .Site.BaseURL }}assets/js/menu.js"></script>
<script src="{{ .Site.BaseURL }}assets/js/standalone.js"></script>
{{ end }}
