{{ define "main" }}
  {{ partial "main/grid.html" . }}
  <div class="preview">
    <button class="action action--close">
      <i class="fa fa-times"></i>
      <span class="text-hidden">Close</span>
    </button>
    <button class="action action--prev">
      <i class="fa fa-arrow-left"></i>
      <span class="text-hidden">Previous</span>
    </button>
    <button class="action action--next">
      <i class="fa fa-arrow-right"></i>
      <span class="text-hidden">Next</span>
    </button>

    <div class="description description--preview"></div>
  </div>
{{ end }}

{{ define "scripts" }}
  {{ partial "global/scripts.html" . }}
{{ end }}