{{ define "main" }}
  <div class="grid">
    <div class="grid-sizer"></div> 
    {{ $data := index .Site.Data .Site.Language.Lang }}
    {{ range $e := $data.art }}
      {{ range $f := sort $e "year" "desc" }}
       <figure class="grid-item {{ lower $f.category }}" data-size="{{ $f.fullres }}">
         <a class="grid-link" href="{{ $.Site.BaseURL }}art/full/{{ $f.file }}">
           <img src="{{ $.Site.BaseURL }}art/tb/{{ $f.file }}" alt="{{ $f.title }}">
         </a>
         <figcaption>
           <div class="centered">
             <h3>{{ $f.title }} ({{ $f.year }})</h3>
             <p>{{ if and (gt $f.height 0 ) (gt $f.width 0 ) }}{{ $f.height }} x {{ $f.width }} cm<br />{{ end }}{{ $f.description }}</p>
           </div>
         </figcaption>
       </figure>
      {{ end }}
    {{ end }}
  </div>
  <div class="preview">
    <button class="action action--close">
      <i class="fa fa-times"></i>
      <span class="text-hidden">Close</span>
    </button>
    <button class="action action--prev">
      <i class="fa fa-arrow-left"></i>
      <span class="text-hidden">Previous</span>
    </button>
    <button class="action action--next">
      <i class="fa fa-arrow-right"></i>
      <span class="text-hidden">Next</span>
    </button>

    <div class="description description--preview"></div>
  </div>
{{ end }}

{{ define "scripts" }}
  {{ partial "global/scripts.html" . }}
{{ end }}